<!--Home Component-->

<!--First Section With Background -->
  <div class="background-container d-flex align-items-center justify-content-center pb-3"[attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">
    <div class="overlay d-flex flex-column align-items-center justify-content-center">
      <div class="title-color fa-2x ">{{ language === 'en' ?' مؤسسة    غايا   للابداع ' : 'Ghaya Foundation for Creativity ' }}</div>
      <div class="title-color fa-2x border-top  border-color">{{ language === 'en' ?'Ghaya Foundation for Creativity ':' مؤسسة  غايا    للابداع '  }}</div>


    </div>
</div>

<!--Slider-->
<div id="carouselExampleControls" class="carousel slide carousel-fade bg-main pt-5 pb-5" data-bs-ride="carousel" >
  <div class="carousel-inner mx-auto container">
    
    <div class="carousel-item active">
      <div class="container mx-auto">
        <div class="row align-items-center justify-content-center text-center text-md-start">
          
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <img src="./assets/Images/MoradMaher.jpeg" class="img-fluid w-75" alt="Founder Image">
          </div>
          
          <div class="col-12 col-md-5 text-main">
            <h2 class="h1 fw-bolder" [innerHTML]="'FOUNDER_INFO.NAME' | translate | newlineToBr"></h2>
            <h3 class="h6" [innerHTML]="'FOUNDER_INFO.TITLE' | translate | newlineToBr"></h3>
            <a routerLink="/FoundersAndBoardMembers">
              <button class="btn btn-primary mt-2" [innerHTML]="'KNOW_MORE_ABOUT' | translate | newlineToBr"></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="carousel-item">
      <div class="container mx-auto ">
        <div class="row align-items-center justify-content-center text-center text-md-start">
  
          <div class="col-12 col-md-4 mb-4 mb-md-0">
          <img src="./assets/Images/AmalRabie.JPG" class="img-fluid w-75" alt="Vice CEO Image">
        </div>
    
         <div class="col-12 col-md-5 text-main">         
           <h2 class="h1 fw-bolder" [innerHTML]="'VICE_CEO.NAME' | translate | newlineToBr"></h2>
           <h3 class="h6" [innerHTML]="'VICE_CEO.TITLE' | translate | newlineToBr"></h3>
      
          <a routerLink="/FoundersAndBoardMembers">
            <button class="btn btn-primary p-2 mt-2" [innerHTML]="'KNOW_MORE_ABOUT' | translate | newlineToBr"></button>
          </a>
        </div>
      </div>
    </div>
    </div>

    <div class="carousel-item">
      <div class="container mx-auto ">
        <div class="row align-items-center justify-content-center text-center text-md-start">
        <!-- Image Column -->
          <div class="col-12 col-md-4 mb-4 mb-md-0">
          <img src="./assets/Images/HaythamAlhajaly.JPG" class="img-fluid w-75" alt="Member of the Board of Directors Image">
        </div>
        <!-- Text Column -->
        <div class="col-12 col-md-5 text-main">     
          <h2 class="h1 fw-bolder" [innerHTML]="'MEMBERS.MEMBER2.NAME' | translate | newlineToBr"></h2>
          <h3 class="h6" [innerHTML]="'MEMBERS.MEMBER2.SLIDER_ROLE' | translate | newlineToBr"></h3>
         
          <a routerLink="/FoundersAndBoardMembers">
            <button class="btn btn-primary p-2 mt-2" [innerHTML]="'KNOW_MORE_ABOUT' | translate | newlineToBr"></button>
          </a>
        </div>
      </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container mx-auto ">
        <div class="row align-items-center justify-content-center text-center text-md-start">
        <!-- Image Column -->
          <div class="col-12 col-md-4 mb-4 mb-md-0">
          <img src="./assets/Images/MustafaElFaramawy.JPG" class="img-fluid w-75" alt="Member of the Board of Directors Image">
        </div>

    <!-- Text Column -->
        <div class="col-12 col-md-5 text-main">     
          <h2 class="h1 fw-bolder" [innerHTML]="'MEMBERS.MEMBER1.SLIDER_NAME' | translate | newlineToBr"></h2>
          <h3 class="h6" [innerHTML]="'MEMBERS.MEMBER1.SLIDER_ROLE' | translate | newlineToBr"></h3>
          <a routerLink="/FoundersAndBoardMembers">
            <button class="btn btn-primary p-2 mt-2" [innerHTML]="'KNOW_MORE_ABOUT' | translate | newlineToBr"></button>
          </a>
        </div>
      </div>
      </div>
    </div>

    <div class="carousel-item ">
      <div class="container mx-auto ">
        <div class="row align-items-center justify-content-center text-center text-md-start">
        <!-- Image Column -->
          <div class="col-12 col-md-4 mb-4 mb-md-0">
          <img src="./assets/Images/EmadAlAdly.JPG" class="img-fluid w-75" alt="Member of the Board of Directors Image">
        </div>
         <!-- Text Column -->
         <div class="col-12 col-md-5 text-main">
          <h2 class="h1 fw-bolder" [innerHTML]="'MEMBERS.MEMBER3.NAME' | translate | newlineToBr"></h2>
          <h3 class="h6" [innerHTML]="'MEMBERS.MEMBER3.SLIDER_ROLE' | translate | newlineToBr"></h3>
         
          <a routerLink="/FoundersAndBoardMembers">
            <button class="btn btn-primary p-2 mt-2" [innerHTML]="'KNOW_MORE_ABOUT' | translate | newlineToBr"></button>
          </a>
        </div>
      </div>
    </div>
    </div>

    <div class="carousel-item ">
      <div class="container mx-auto ">
        <div class="row align-items-center justify-content-center text-center text-md-start">
        <!-- Image Column -->
          <div class="col-12 col-md-4 mb-4 mb-md-0">
          <img src="./assets/Images/NancyIbrahim.JPG" class="img-fluid w-75" alt="Member of the Board of Directors Image">
        </div>
       <!-- Text Column -->
       <div class="col-12 col-md-5 text-main">
          <h2 class="h1 fw-bolder" [innerHTML]="'MEMBERS.MEMBER4.SLIDER_NAME' | translate | newlineToBr"></h2>
          <h3 class="h6" [innerHTML]="'MEMBERS.MEMBER4.ROLE' | translate | newlineToBr"></h3>
          <a routerLink="/FoundersAndBoardMembers">
            <button class="btn btn-primary p-2 mt-2" [innerHTML]="'KNOW_MORE_ABOUT' | translate | newlineToBr"></button>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


