<!-- about-us.component.html -->
<div class="container-fluid bg-main py-5"[attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">
  <div class="container mx-auto W-50">
    <!-- Our Vision Card -->
    <h2 id="OurVision" class="text-center text-danger fw-bold mb-3">{{ 'OUR_VISION' | translate }}</h2>
    <div class="mb-5 ">
      <div class=" mb-5 justify-content-center">
        <div class="text-light">
          <p class="lead" [innerHTML]="'CONTENT.OUR_VISION' | translate | newlineToBr"></p>
        </div>
      </div>
    </div>
  </div>
</div>
